* {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;
}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29.26px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
    text-decoration: none;
}

.btn-login {
    width: 130px;
    height: 41px;
    border-radius: 20.5px;
    border: none;
    background: #665AE1;
    cursor: pointer;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
}

.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 150px;
    display: inline-block;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
    letter-spacing: 0em;
    text-align: left;
    color: #515151;
}

h2 {
    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
    letter-spacing: 0em;
    text-align: left;
    color: #515151;
}

p {
    margin-top: 32px;
    margin-bottom: 65px;
    width: 515px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #848484;
}

.btn-explore {
    width: 239px;
    height: 64px;
    border-radius: 20.5px;
    border: none;
    cursor: pointer;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    background-color: #ADFF00;
    box-shadow: 0px 4px 4px 0px #00000040;
}

section {
    display: inline-block;
    margin-left: 86px;
}

@media screen and (max-width: 912px) {
    .link-header {
        display: none;
    }

    .btn-login {
        display: none;
    }

    .img-logo {
        margin: 12px 75px;
        width: 66%;
        height: 46%;
        flex-shrink: 0;
    }

    p {
        display: none;
    }

    h1 {
        width: 263px;
        height: 52px;
        font-size: 50px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-top: 22px;
    }

    h2 {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 7px;
    }

    .btn-explore{
        margin-top: 27px;
    }
}